.container {
    background-image: url('../assets/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 200px;
    height: auto;
}

.content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.title {
    color: #996BF9;
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
}

.question {
    color: #f4f1f1;
    font-size: 24px;
}

.options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionButton {
    width: 100%;
    font-size: 12px; 
    background-color: rgba(152, 107, 249, 0.373);
    color: #FFF;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.optionButton:hover {
    background-color: rgba(255, 255, 255, 0.386);
}

.optionButton.selected {
    background-color: rgba(127, 74, 210, 0.8);
}

.submitButton {
    width: 60%;
    font-size: 18px;
    background-color: #996BF9;
    color: #FFF;
    border: 1px solid #8C8C8C;
    padding: 5px; 
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
}

.submitButton:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 600px) {
    .title {
        font-size: 8vw; 
    }

    .question {
        font-size: 6vw;
    }

    .optionButton,
    .submitButton {
        width: 80%; 
    }
}

@media screen and (min-width: 1200px) {
    .optionButton,
    .submitButton {
        width: 60%; 
    }
}